{% extends "layout.html" %}
{% block body %}
<div class="col-md-12">
    <h1>Egoat is unbelivable!</h1>

    <p>Try it today!</p>
    <h2>How it works?</h2>
</div>
    <div class="well col-md-8">
        <p>Details of protocol are comming...</p>

        <p>The domestic goat (Capra aegagrus hircus) is a subspecies of goat domesticated from the wild goat of southwest Asia and Eastern Europe. The goat is a member of the family Bovidae and is closely related to the sheep as both are in the goat-antelope subfamily Caprinae. There are over 300 distinct breeds of goat.[1] Goats are one of the oldest domesticated species, and have been used for their milk, meat, hair, and skins over much of the world.[2] In 2011, there were more than 924 million live goats around the globe, according to the UN Food and Agriculture Organization.[3]</p>

        <p>Female goats are referred to as "does" or "nannies", intact males as "bucks" or "billies", and their offspring are "kids". Castrated males are "wethers". Goat meat from younger animals is called "kid" or cabrito (Spanish), and from older animals is simply known as "goat" or sometimes called chevon (French), or in some areas "mutton" (which more often refers to adult sheep meat)</p>

    </div>
<div class="col-md-12">
<h2>What's available now?</h2>
{% for address, announcement in announcements.items() %}
    <h3>Client: {{ address }}</h3>
    {% for checksum, file in announcement.items() %}
        <p>Checksum: <a href="{{ '/file/' + checksum}}"> {{ checksum[:16] + "..." }}</a></p>
        <p>Filename: {{ file }} </p>
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
{% endfor %}

</div>
</div>
{% endblock %}
